@using System.Globalization
@model IEnumerable<ShoppingCartApp.Models.Item>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart 🛒</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Product Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.Product?.ProductImage))
                    {
                        <img src="@item.Product.ProductImage" alt="@item.Product.ProductName" style="max-width: 100px;" />
                    }
                    else
                    {
                        <span class="emptyImage">No Image</span>
                    }
                </td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>
                    @(item.Price.ToString(format: "C", provider: new CultureInfo(name: "en-GB")))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
